/* COMMON */
a {
  font-weight: 400;
  color: gray;
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* 컨텐츠 메뉴 버튼(멤버십, VIP LOUNGE) */
.contents {
  margin-top: 80px;
}
.contents::after {
  display: block;
  content: '';
  clear: both;
}
.contents-btn {
  margin-top: 50px;
}
.contents-btn-menu {
  display: flex;
  justify-content: space-around;
}
.contents-btn-menu a {
  font-size: 20px;
}
.contents-btn-menu span {
  position: relative;
  display: inline-block;
}
.contents-btn-menu span::after {
  position: absolute;
  display: block;
  left: 50%;
  bottom: -10px;
  width: 0;
  height: 3px;
  content: '';
  background: black;
  transition: all 0.3s ease;
}
.contents-btn-menu a:hover span::after {
  left: 0;
  width: 100%;
}

#membership-link {
  color: black;
}
#membership-link > span::after {
  left: 0;
  width: 100%;
}
#vip-link {
  transition: color 0.5s;
}
#vip-link:hover {
  color: black;
}

/* 컨텐츠 멤버십 헤드라인 */
.contents-headline {
  margin: 50px auto 100px auto;
  width: 100%;
  min-width: 460px;
  height: 150px;
  background-color: rgb(40, 40, 40);
  border-radius: 30px;
}
.contents-headline > ul {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 40px;
}
.contents-headline > ul > li {
  display: block;
}
#headline-text-main {
  background: linear-gradient(to right, #cf4194, #fdff79);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  font-weight: 700;
}
#headline-text-serve {
  font-size: 18px;
  color: rgb(228, 228, 228);
}

/* 컨텐츠 멤버십 등급 기준 */
#contents-membershipCondition {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}
.condition-box {
  margin-top: 80px;
  display: flex;
}
.condition-box-img {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
}
.condition-box-img p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #cf4194;
}
.condition-box-img img {
  width: 72px;
  height: 72px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  background-color: white;
}
#condition-box-textHead {
  font-size: 18px;
  font-weight: 500;
}
#condition-box-textHeadServe {
  font-size: 13px;
}
#condition-box-text {
  font-size: 15px;
}
.condition-box > li {
  margin: 0 10px;
  width: 30%;
  min-width: 200px;
  height: 310px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 30px;
  font-size: 14px;
}
#bottom-line {
  display: inline-block;
  margin: 0 auto 10px auto;
  width: 90%;
  height: 1px;
  content: '';
  background-color: black;
  /* border-bottom: 1px solid black; */
}
.condition-box-text-condition {
  margin-left: 10px;
  margin-bottom: 40px;
}

.condition-box-text-benefits {
  margin-left: 10px;
}

.condition-coupon-benefits li {
  position: relative;
  list-style: inside;
  margin-left: 5px;
  /* width: 100%; */
}
.condition-coupon-benefits span::before {
  position: absolute;
  right: 30px;
  content: 'X';
}
.condition-coupon-benefits span {
  position: absolute;
  top: 0;
  right: 18px;
}

/* 컨텐츠 멤버십 혜택 */
#contents-benefits {
  position: relative;
  /* width: 100%; */
  height: 500px;
  margin-bottom: 100px;
}

.benefits-point {
  display: table;
  margin: 30px;
  width: 250px;
  height: 180px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 30px;
}

.benefits-point-imgBox {
  display: table-cell;
  vertical-align: middle;
  padding-left: 6%;
}
.benefits-point-imgBox > img {
  width: 60px;
  height: 60px;
}

.benefits-point-textBox {
  display: table-cell;
  vertical-align: middle;
  padding-left: 12%;
  padding-right: 5%;
}

#benefits-point-headText {
  font-size: 20px;
  font-weight: 500;
  color: #d09f67;
}

#benefits-point-text {
  padding-top: 10px;
  font-size: 16px;
}

/* 포인트 적립, 포인트 사용, 유효기간 및 소멸, 
생일 축하 쿠폰, 멤버십 카드   */
.contents-membership-textSet {
  position: relative;
  margin-bottom: 50px;
  color: #d09f67;
}
.contents-membership-textSet h3 {
  font-size: 20px;
}
.contents-membership-textSet ul {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: black;
}
.contents-membership-textSet li {
  margin-left: 60px;
  list-style: inside;
  line-height: 35px;
  font-size: 14px;
  font-weight: 300;
  text-indent: -30px;
}

/* 멤버십 카드 */
#contents-membershipCard-imgBox {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
