/* common */
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* min-width: 1200px; */
  background-color: #272727;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  color: #d09f67;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
}
button {
  border: none;
  background-color: #fff;
}
/* main */
#container {
  margin: 0 auto 0 auto;
  height: 100%;
  width: 100%;
  min-width: 1200px;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-header {
  width: 1135px;
  margin: auto;
}
#main-top-wrap {
  /* width: 203.1vh; */
  width: 100%;
}
#main-top-wrap img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
#main-movie-top {
  position: relative;
  color: #fff;
  top: 20%;
  left: 5%;
  padding-bottom: 30%;
}
.main-movie-top-header {
  font-size: 4rem;
  font-weight: bolder;
  text-shadow: 4px 4px #000;
  text-align: start;
  height: 200px;
  margin-bottom: -3rem;
}
.main-movie-top-desc {
  font-size: 1rem;
  text-shadow: 2px 2px #000;
}
#movie-btn-wrap {
  display: flex;
  justify-content: left;
  width: 100%;
}
.movie-top-btn-1 {
  height: 50%;
  width: 100%;
  font-size: 15px;
  background-color: #217c7e;
  color: #fff;
  border: none;
  border-radius: 2px;
}
.movie-top-btn-1:hover {
  background-color: #217c7e;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    #217c7e 30%
  );
  font-size: 1em;
}
.movie-top-btn-2 {
  height: 7vh;
  width: 25vh;
  font-size: 15px;
  background-color: #9a3334;
  color: #fff;
  border: none;
  border-radius: 2px;
}
.movie-top-btn-2:hover {
  background-color: #9a3334;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    #9a3334 30%
  );
  font-size: 1em;
}
#main-movie-bottom {
  display: flex;
  height: 100%;
  justify-content: center;
}
table {
  /* margin-top: 60px; */
  padding: 0;
  border-spacing: 70px 80px;
}
td {
  width: 230px;
  height: 320px;
}
.img-box {
  position: relative;
  /* margin-right: 50px; */
  margin-bottom: -10px;
  /* width: 100%;
    height: 100%; */
  width: 230px;
  height: 320px;
  background-size: cover;
}
.movie-img {
  display: block;
  opacity: 1;
  transition: 0.1s ease;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}
.movie-img img {
  height: 100%;
  width: 100%;
}
.movie-img-hover {
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
  display: grid;
  align-content: space-between;
  background-color: #000;
  color: #fff;
  margin-bottom: 15px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.img-box:hover .movie-img-hover {
  opacity: 0.8;
}
.movie-title {
  text-align: left;
  margin-top: 0;
}
.movie-title h3 {
  color: #fff;
}
#age-restriction-12 {
  width: 10px;
  height: 10px;
  background-color: #06d85f;
}
.movie-img-btn {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
#heart {
  color: #dddddd;
}
.movie-img-btn a .btn-movie-img-hover-likes {
  border: 1px solid #dddddd;
  background-color: #fff;
  width: 60px;
  height: 35px;
  cursor: pointer;
}
.movie-img-btn a .btn-movie-img-hover-likes:hover {
  background-color: rgba(195, 233, 255, 0.8);
}
#heart:hover {
  color: rgba(255, 0, 0, 0.8);
}
.movie-img-btn a .btn-movie-img-hover-booking {
  border: none;
  background-color: #cf4194;
  font-weight: bold;
  color: #fff;
  width: 170px;
  height: 35px;
  cursor: pointer;
}
.movie-img-btn a .btn-movie-img-hover-booking:hover {
  background-image: linear-gradient(to bottom, #fff, #cf4194);
  color: #242424;
}
/* nav-fixed */
#nav-fixed {
  position: fixed;
  display: inline;
  padding: 0;
  top: 40%;
  right: 0;
  width: 150px;
  height: auto;
  background-color: #2f343a;
  border: none;
  z-index: 5;
}
#nav-fixed li {
  padding: 10px;
  color: #fff;
}
#nav-fixed li:hover {
  background-color: #717d8c;
}
#nav-fixed hr {
  width: 100%;
}
/* util */
.toggleBG {
  background: #cccccc;
  width: 50px;
  height: 20px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  z-index: 1;
}
.toggleFG {
  background: #ffffff;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 15px;
  position: relative;
  left: 0px;
  z-index: 1;
}
#util-movie {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-top: 25px;
  z-index: 0;
}
#util-movie-desc {
  margin-left: -3 0px;
  font-weight: 900;
}
#util-movie-result {
  font-weight: 700;
}
/* banner */
/* #banner {
  position: fixed;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  z-index: 100;
  border: 2px solid red;
} */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  border: 2px solid red;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
