@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*-------------------------------------*/
#loginBar {
  height: 30px;
  /* border: grey 1px solid; */
  border-bottom: #88888871 1px solid;
  margin: 0;
  padding: 0px 30px 0px 30px;
  background-image: url('../resource/image/index/slidebg.jpg');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#loginBar a {
  color: #f4f4f4;
}
.li-left {
  float: left;
  padding-left: 1.5%;
}

.li-right {
  float: right;
  padding-right: 1.5%;
}

/*-------------------------------------*/

#list {
  height: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url('../resource/image/index/slidebg.jpg');
}
#list a {
  color: #f4f4f4;
}
#list li {
  display: inline-block;
  font-size: 26px;
  padding-left: 8%;
}
#list img {
  position: relative;
  top: 9px;
  width: 120px;
  height: 40px;
}
/*-------------------------------------*/
#navList {
  height: 130px;
  border-top: #88888871 1px solid;
  margin: 0;
  display: none;
  background-image: url('../resource/image/index/slidebg.jpg');
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#navList a {
  color: #f4f4f4;
}
#navList ul {
  display: inline-block;
  padding-top: 7px;
  list-style: none;
}
#navList li {
  padding-top: 15px;
  text-align: center;
}
#navList a:hover {
  text-decoration: underline;
}

#a {
  vertical-align: top;
  margin-left: 13.5%;
}
#b {
  margin-left: 2.5%;
}
#c {
  margin-left: 21.1%;
}
#d {
  margin-left: 2.5%;
}
#listAndnavList:hover #navList {
  display: block;
}
#listAndnavList {
  position: sticky;
  width: 100%;
  max-width: 1100px;
  top: 0;
  z-index: 1;
}
