/* COMMON */

ul,
li {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

/* CONTAINER */

#signup-container {
  margin: 100px auto;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  height: 650px;
  box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.158);
  border-radius: 6px;
}
#signup-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(235, 235, 235);
  background-color: #272727;
  border-radius: 6px 6px 0px 0px;
}

#signup-content {
  position: relative;
  margin: 30px;
  height: calc(650px - 90px);
  color: gray;
}
.signup-input-content > input {
  padding: 0 10px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  height: 30px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}
.signup-input-content {
  color: re;
}
.signup-input-content > input:hover {
  outline: 2px solid rgb(200, 200, 200);
  outline-offset: -2px;
}
.signup-input-content > input:focus {
  outline: 2px solid #d09f67;
  outline-offset: -2px;
}
.signup-input-content > input[name='userId'] {
  width: calc(70% - 20px);
}

.signup-checking-label {
  font-size: 15px;
  color: rgb(0, 210, 0);
}
#signup-id-checking-btn {
  position: relative;
  float: right;
  margin-left: 10px;
  width: 100px;
  height: 32px;
  background-color: rgb(214, 214, 214);
  border: 2px solid rgb(200, 200, 200);
  border-radius: 5px;
}

#signup-id-checking-btn:hover {
  /* background-color: white; */
  border: 2px solid #272727;
  color: #272727;
  transition: color 0.4s, background-color 0.4s;
}

#signup-id-checking-btn:focus {
  outline: none;
}

.signup-input-content #signup-datePicker {
  width: 80px;
}

.signup-label-star {
  color: red;
}
.warning-text {
  margin-left: 10px;
  font-size: 12.5px;
  font-weight: 300;
  color: red;
}

/*  하단 버튼  */
#signup-bottoms {
  position: absolute;
  width: 100%;
  bottom: 30px;
}
#signup-bottoms span {
  position: absolute;
  top: -20px;
  font-size: 0;
  width: 100%;
  height: 1px;
  content: '';
  border-bottom: 1px solid gray;
}
#signup-btn {
  /* margin-top: 30px; */
  width: 105px;
  height: 35px;
  background-color: #272727;
  border: none;
  border-radius: 10px;
  color: rgb(235, 235, 235);
  transition: color 0.4s, background-color 0.4s;
}

#signup-btn:hover {
  background-color: white;
  border: 2px solid #272727;
  color: #272727;
  transition: color 0.4s, background-color 0.4s;
}
